<h2>Chat</h2>
<div class="mb-6">
  <label class="form-label">Message:</label>
  <input type="text" id="userMsg" />
  <button type="submit" class="btn btn-primary" id="btnSend">Enviar</button>
</div>
<br />
<div id="logMsg" style="border-top: solid 2px black;">Loading messages...</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>
<script src="/js/chat.js"></script>